* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    background: #eee;
}

.text-primary {
    color: red;
}

.bg-primary {
    background-color: red;
}

.text-secondary {
    color: black;
    font-weight: bolder;
}

p {
    margin: 0.75rem 0;
}

#logo {
    font-size: larger;
    font-weight: lighter;
}

#navbar {
    background: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: darkred;
    border-radius: 10px;
}

/* Showcase */

#showcase {
    background: #333 url("https://images.unsplash.com/photo-1638262052649-9a9e0edc0b51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") no-repeat center center/cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0,0,0,0.5);
}

/* Utility Classes */

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: white;
    background: red;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;

}

.btn:hover {
    background: darkred;
}

.btn-dark {
    background: #333;
    color: white;
}

.bg-dark {
    background: black;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333333;
}

h1 {
    color: white;
}

.lead {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.source{
    font-size: small;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #aaa;
    margin: 10px 20px;
}

.source a {
    color: #aaa;
    text-decoration: none;
}

/* Section: O hře */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-align: center;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2.5rem;
}

.p-3 {
    padding: 3.5rem;
}

.m-1 {
    margin: 1.5rem 0;
}

.m-2 {
    margin: 2.5rem 0;
}

.m-3 {
    margin: 1.5rem 0;
}

#what .items {
    display: flex;
    padding: 1rem;
}

#what .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
}

#what .items .item i {
    background: red;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #aaaaaa dotted 1px;
}

#aboutgame {
    display: flex;
}

#aboutgame div {
    flex: 1;
}

#aboutgame .aboutgame-img {
    background: url("https://images.unsplash.com/photo-1583312736215-675896e24e27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80") no-repeat center center/cover;
}

#images .items {
    display: flex;
    justify-content: space-between;
}

#images .items img {
    display: block;
    margin: auto;
    width: 80%;
}

#contact {
    display: flex;
}

#contact div {
    flex: 1;
}

#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form label{
    display: block;
    margin-bottom: 3px;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}
#contact h3{
    margin-top: 2rem;
}