body {
    font-family: "Segoe UI Semibold", sans-serif;
}

.rozhovor {
    max-width: 800px;
    margin: 0 auto;
}

img {
    margin-left: 20%;
}

p {
    line-height: 1.5;
    background-color: lightslategray;
}

h1 {
    color: orangered;
    font-size: medium;
    text-align: center;
}

h2 {
    color: darkred;
    font-size: medium;
}

h3 {
    background-color: orange;
    font-size: medium;
}

@media screen and (max-width: 768px) {
    .rozhovor {
        padding: 20px;
    }

    img {
        max-width: 100%;
    }
}