* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(25, 25, 33, 0.91);
}

#navbar {
    background-color: darkblue;

}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 1rem;
    list-style: none;
}

#navbar ul li a {
    color: greenyellow;
    margin: 1rem;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

main .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.logo {
    margin: 36px;
}

main .showcase-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .showcase-content form .search {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

main .showcase-content form .search input {
    height: 40px;
    font-size: 2rem;
    border-radius: 5px;
    margin-left: 2rem;
    padding-left: 20px;
}

main .showcase-content form .btn input {
    margin: 5px;
    padding: 20px;
    color: #444444;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid;
}

main .showcase-content form .btn input:hover {
    background-color: gray;
}
